/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+css-extras+visual-basic&plugins=line-highlight+line-numbers+show-language+inline-color+toolbar+copy-to-clipboard */
code[class*='language-'],
pre[class*='language-'] {
  /* 设置文字颜色为白色 */
  color: rgb(255, 255, 2555);
  /* 设置背景透明度 */
  background: 0 0;
  /* 设置字体为等宽字体，如 Consolas、Monaco 等 */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /* 设置字体大小为 1em */
  font-size: 14px;
  /* 文字左对齐 */
  text-align: left;
  /* 设置文字的阴影效果 */
  text-shadow: 0 -0.1em 0.2em #000;
  /* 设置空白处理方式为保留空白 */
  white-space: pre;
  /* 设置单词间距、单词换行方式等 */
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  /* 设置行高为 1.5 */
  line-height: 1.5;
  /* 设置 tab 的大小为 4 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* 禁用连字符 */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* 设置包含 language- 类的 <pre> 元素的样式 */
pre[class*='language-'] {
  border-radius: 0.5em; /* 设置边框圆角为 0.5em */
  border: 0.3em solid #545454; /* 设置边框为 0.3em 实色边框 */
  box-shadow: 1px 1px 0.5em #000 inset; /* 设置阴影为黑色边框 */
  padding: 1em;
  margin: 0.5em 0;
  top: 0px;
  left: 110px;
  margin: 20px;

  /* overflow: auto; */
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  /* 设置背景为 #141414 */
  background: rgb(40, 42, 54);
  display: inline-block;
  width: 520px;
  height: 630px;
  overflow: auto; /* 设置溢出内容自动滚动 */
}

/* 设置包含 language- 类的 <code> 元素的样式 */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

/* 注释 */
.token.comment {
  color: #777;
}

/* 块级注释 */
.token.block-comment,
/* CDATA */
.token.cdata,
/* 文档类型声明 */
.token.doctype,
/* 文件开头相关的声明 */
.token.prolog {
  color: #fc0707;
}

/* 标点符号 {}-()-.-,-:-?*/
.token.punctuation {
  color: rgb(80, 206, 196);
}

/* 非VBA */
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #fd020a;
}

/* 函数名称的类名或标记名--非VBA */
.token.function-name {
  color: #6196cc;
}

/* 无效 */
.token.function {
  color: #fd020a;
}
/* 布尔值 */
.token.boolean,
/* 数字 */
.token.number {
  color: rgb(189, 147, 249);
}

/* 类名 */
/* .token.class-name, */
/* 常亮 */
/* .token.constant, */
/* 属性 */
.token.property {
  color: rgb(255, 184, 108);
}
/* 符号操作符 */
/* .token.symbol {

} */

.token.atrule,
/* 内置 */
.token.builtin,
/* 重要 */
.token.important,
/* 关键字 */
.token.keyword,
/* 选择器 */
.token.selector {
  color: rgb(255, 121, 198);
}

.token.attr-value,
.token.char,
/* 正则表达式 */
.token.regex,
/* 字符串 */
.token.string, 
/* 变量  */
.token.variable {
  color: rgb(234, 243, 134);
}

/* 括号标点 */
.token.entity {
  color: rgb(80, 206, 196);
}
/* 运算符号 */
.token.operator,
.token.url {
  color: rgb(80, 250, 123);
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: hsla(24, 20%, 50%, 0.08);
  background: linear-gradient(
    to right,
    hsla(24, 20%, 50%, 0.1) 70%,
    hsla(24, 20%, 50%, 0)
  );
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
@media print {
  .line-highlight {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: hsla(24, 20%, 50%, 0.4);
  color: #f4f1ef;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px #fff;
}
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}
.line-numbers .line-highlight:after,
.line-numbers .line-highlight:before {
  content: none;
}
pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all;
}
pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
  cursor: pointer;
}
pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
  background-color: rgba(128, 128, 128, 0.2);
}
pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
div.code-toolbar {
  position: relative;
}
div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
div.code-toolbar:hover > .toolbar {
  opacity: 1;
}
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}
div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}
div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}
div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* 右上角颜色 */
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  /* 字体颜色 */
  color: #bbb;
  font-size: 1em; /* 字体大小 */
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2); /* 背景颜色 */
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); /* 边框颜色 */
  border-radius: 0.5em;
}
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none;
}
span.inline-color-wrapper {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDIiPjxwYXRoIGZpbGw9ImdyYXkiIGQ9Ik0wIDBoMnYySDB6Ii8+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0wIDBoMXYxSDB6TTEgMWgxdjFIMXoiLz48L3N2Zz4=);
  background-position: center;
  background-size: 110%;
  display: inline-block;
  height: 1.333ch;
  width: 1.333ch;
  margin: 0 0.333ch;
  box-sizing: border-box;
  border: 1px solid #fff;
  outline: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
span.inline-color {
  display: block;
  height: 120%;
  width: 120%;
}
